* {

    font-family:  sans-serif;
}

body {

    background-size: 100%;
    background-position-y: -80px;
    background-repeat: no-repeat;
    background-image: url("../IMAGES/CADASTRO.jpg");
}

#formulario-corpo {
    
    width: 35%;
    height: 600px;
    background: linear-gradient(
      180deg, 
      rgba(94,4,112,0.5) 0%,
      rgba(5,1,64,0.7) 52%, 
      rgba(3, 2, 24, 1) 100%);
      backdrop-filter: blur(4px);
    margin-top: 1.5%;
    margin-left: 31.5%;
    position: absolute;   
    border-radius: 2%;
    border: 2px solid rgb(53, 2, 63);
}

#titulo-form {
    
    color: rgb(124, 119, 119);
    margin-left: 13%;
}

#linha-titulo {

    width: 150px;
    height: 1px;
    background-color: rgb(61, 56, 56);
    margin-left: 13%;
    margin-top: -25px;
}

#nome-label {

    position:absolute;
    margin-top: 7%;
    margin-left: 13%;
    color:rgb(124, 119, 119);
    font-size: 14pt;
    font-weight: bold; 
}

#nome { 

    margin-top: 12%;
    margin-left: 13%;
    width: 350px;
    height: 35px;
    background-color: rgba(21, 1, 44, 0.8);
    position:absolute;
    border-radius: 5px;
    border: 2px solid rgb(48, 1, 58);
    color:rgb(124, 119, 119);
    font-size: 12pt;

    padding: 0px 15px;
    box-sizing: border-box;

    transition: .3s;
}

#email-label {

    position:absolute;
    margin-top: 23%;
    margin-left: 13%;
    color:rgb(124, 119, 119);
    font-size: 14pt;
    font-weight: bold; 
}

#email { 

    margin-top: 28%;
    margin-left: 13%;
    width: 350px;
    height: 35px;
    background-color: rgba(21, 1, 44, 0.8);
    position:absolute;
    border-radius: 5px;
    border: 2px solid rgb(48, 1, 58);
    color:rgb(124, 119, 119);
    font-size: 12pt;

    padding: 0px 15px;
    box-sizing: border-box;

    transition: .3s;
}

#uf-label {

    position:absolute;
    margin-top: 39%;
    margin-left: 13%;
    color:rgb(124, 119, 119);
    font-size: 14pt;
    font-weight: bold;     
}

#select-corpo {

    width: 35px;
    margin-top: 44%;
    margin-left: 13%;
    position: absolute;
    z-index: 9;
}

#uf {

    width: 40px;
    height: 35px;
    background-color: rgba(21, 1, 44, 0.8);
    border-radius: 5px;
    border: 2px solid rgb(48, 1, 58);
    color:rgb(124, 119, 119);
    font-size: 12pt;
    box-sizing: border-box;
    padding: 0px 5px;

    transition: .3s;
}

#select {

    width: 35px;
    height: 80px;
    margin-top: 3px;
    background-color: rgb(21, 1, 44);
    border-radius: 5px;
    border: 2px solid rgb(48, 1, 58);
    color:rgb(124, 119, 119);
    font-size: 12pt;
    overflow: auto;
    overflow-x: hidden;
    display: none;

    transform: translate(0px, -10px);

    z-index: 9;
}

.item {

    height: 20px;
    padding: 0px 2px;
    padding-top: 2px;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
}

.item:hover {

    background-color: rgb(48, 1, 58);
    padding-left: 5px;
    transition: .3s;
}

#data-label {

    position:absolute;
    margin-top: 35.5%;
    margin-left: 24%;
    color:rgb(124, 119, 119);
    font-size: 14pt;
    font-weight: bold; 
}

#data {

    margin-top: 40.1%;
    margin-left: 24%;
    width: 135px;
    height: 35px;
    background-color: rgba(21, 1, 44, 0.8);
    position:absolute;
    border-radius: 5px;
    border: 2px solid rgb(48, 1, 58);
    color:rgb(124, 119, 119);
    font-size: 12pt;

    text-decoration: none;

    padding: 0px 15px;
    box-sizing: border-box;

    transition: .3s;
}

#celular-label {

    position:absolute;
    margin-top: 31.8%;
    margin-left: 55%;
    color:rgb(124, 119, 119);
    font-size: 14pt;
    font-weight: bold;
}

#celular {

    margin-top: 36.4%;
    margin-left: 55%;
    width: 150px;
    height: 35px;
    background-color: rgba(21, 1, 44, 0.8);
    position:absolute;
    border-radius: 5px;
    border: 2px solid rgb(48, 1, 58);
    color:rgb(124, 119, 119);
    font-size: 12pt;

    text-decoration: none;

    padding: 0px 15px;
    box-sizing: border-box;

    transition: .3s;
}

#senha-label {

    position:absolute;
    margin-top: 47%;
    margin-left: 13%;
    color:rgb(124, 119, 119);
    font-size: 14pt;
    font-weight: bold; 

    z-index: 1;
}

#senha {

    margin-top: 51.7%;
    margin-left: 13%;
    width: 350px;
    height: 35px;
    background-color: rgba(21, 1, 44, 0.8);
    position:absolute;
    border-radius: 5px;
    border: 2px solid rgb(48, 1, 58);
    color:rgb(124, 119, 119);
    font-size: 12pt;

    text-decoration: none;

    padding: 0px 15px;
    box-sizing: border-box;

    z-index: 1;

    transition: .3s;
}

#rpSenha-label {

    position:absolute;
    margin-top: 63%;
    margin-left: 13%;
    color:rgb(124, 119, 119);
    font-size: 14pt;
    font-weight: bold; 

    z-index: 1;
}

#rpSenha {

    margin-top: 67.7%;
    margin-left: 13%;
    width: 350px;
    height: 35px;
    background-color: rgba(21, 1, 44, 0.8);
    position:absolute;
    border-radius: 5px;
    border: 2px solid rgb(48, 1, 58);
    color:rgb(124, 119, 119);
    font-size: 12pt;

    text-decoration: none;

    padding: 0px 15px;
    box-sizing: border-box;

    z-index: 1;

    transition: .3s;
}

::-webkit-input-placeholder {

    font-size: 12pt;
}

::-webkit-scrollbar {

    background-color: rgb(5, 0, 36);
    width: 3px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

::-webkit-scrollbar-thumb {

    background-color: rgb(48, 1, 58);
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    margin: 0; 
}

input:hover {

    outline: none !important;
    box-shadow: 0 0 8px rgb(77, 1, 92);
}

input:focus {

    outline: none !important;
    border: 1px solid rgb(89, 1, 109);
    box-shadow: 0 0 4px rgb(138, 29, 160);
}

#button-form {

    display: none;
}

#button {

    margin-top: 83%;
    margin-left: 35%;
    width: 150px;
    height: 40px;
    background-color: rgba(48, 1, 58, 0.6);
    position:absolute;
    border-radius: 5px;
    border: 2px solid rgba(20, 0, 43, 0.993);
    color:rgb(124, 119, 119);
    font-size: 15pt;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

#button:hover {

    background-color: rgb(48, 1, 58);
    border: 1px solid rgb(89, 1, 109);
    box-shadow: 0 0 10px rgb(68, 1, 83);
    color:rgb(114, 111, 111);
}

#palavra {

    margin-top: 98%;
    margin-left: 31%;
    color:rgb(56, 52, 52);
}

a {

    text-decoration: none;
    transition: .3s;
}

a:link {

    color: rgb(89, 1, 109)
}
   
a:hover {

    color: rgb(130, 6, 158)
}

#alert {

    width: 250px;
    height: 100px;
    text-align: center;
    position: absolute;
    border-radius: 8px;
    margin-top: 1.5%;
    margin-left: 6%;
    
    opacity: 1;
    transition: .3s;
}

#mensagemAlert {

    font-size: 17pt;
    margin-top: 23px;
    opacity: 0;
}

#icon1 {

    color: rgb(89, 1, 109);
    margin-left: 59%;
    margin-top: 26.90%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
}

#icon2 {

    color: rgb(89, 1, 109);
    margin-left: 59%;
    margin-top: 32.49%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
}
